body {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 26px;
  font-weight: 100;
  background-color: silver;
  margin: 0;
}

header {
  padding: 20px;
  background-color: #32cd32;
  color: black;
}

header h1 {
  font-weight: 100;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 200;
}

a:hover {
  background-color: #dedede;
}

.info,
.person {
  margin: 20px;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 10px;
  background-color: #fff;
}

.info p,
.person p {
  margin: 0;
}
