{{> header}}

<main>
  <div class="info-container">

    <div class="homepage-icon"><i class="fa fa-list-alt"></i></div>
    <h2>Kris Stuvstad Photography</h2>
    <h3>Click the dropdown menu to explore the photos I've taken at each location below:</h3>

    {{> location-select}}

  </div>
</main>

{{> footer}}
